*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #07d1ff;
	overflow: hidden;
}
h1
{
	position: relative;
	color: #fff;
	font-size: 6rem;
	line-height: 1.1rem;
	outline: none;
	text-align: center;
	user-select: none;
	transform: rotate(-10deg) skewX(20deg);
	text-shadow: -1px 1px #cacaca,
							-2px 2px #cacaca,
							-3px 3px #cacaca,
							-4px 4px #cacaca,
							-5px 5px #cacaca,
							-6px 6px #cacaca,
							-7px 7px #cacaca,
							-8px 8px #cacaca,
							-15px 15px rgba(0,0,0,0.2);
							
}